*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    padding: 70px 70px 24px 70px;
    width:100%;
    height:auto;
    color: #fff;
    background-color: black;
    background-image: url(./img/background.png);
    background-size: cover;
}

.logo{
    display: flex;
    align-items: left;
    gap: 24px;
}

.logo__text{
    font-size: 32px;
    font-weight: 100;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
}
.title{
    position: relative;
    grid-column: 1/-1;
    place-self: center;
}
.title__text{
    color: #fff;
    font-size: 2vw;
}


.info{
    place-self: end start;

}
.info__text{
    font-size: 20px;
    width: 500px;
}
.action{
    place-self: end;
    width: 10px;
    height: 10px;
    background-color: #8E4106;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4px;
    color: #fff;
    text-decoration: none;
}
footer{
    display: flex;
    justify-content: center;
    align-items: end;
}
.fundo{
    background-position: 100%;
}

